body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg,#1f2937,#0f172a);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.calculator{
    background:#111827;
    padding:20px;
    border-radius:20px;
    box-shadow:0 20px 40px rgba(0,0,0,0.6);
    width:280px;
}

.display{
    width:100%;
    height:60px;
    font-size:28px;
    text-align:right;
    padding:10px;
    border:none;
    outline:none;
    border-radius:12px;
    margin-bottom:15px;
    background:#020617;
    color:#fff;
}

.buttons{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
}

button{
    height:55px;
    border:none;
    border-radius:12px;
    font-size:18px;
    cursor:pointer;
    transition:0.2s;
}

button:hover{
    transform:scale(1.05);
}

.num{ background:#374151; color:white; }
.operator{ background:#f59e0b; color:white; }
.equal{ background:#22c55e; color:white; grid-column: span 2; }
.clear{ background:#ef4444; color:white; }
